.master-container {
  font-family: Arial;
}

.directions {
  margin: 10px;
  max-width: 600px;
}

.app {
  margin: 10px;
}

.border {
  border: #7a7a7a;
  border-width: 1px;
  border-style: solid;
}

.game-container {
  padding: 5px;
}

.header {
  display: flex;
  padding-bottom: 5px;
}

.counter {
  background-color: black;
  color: red;
  padding: 0px 5px;
}
.state-container {
  margin: 0 auto;
}
.state-indicator {
  border-radius: 50%;
}
.playing-state,
.null-state {
  background-color: yellow;
}
.won-state {
  background-color: green;
}
.lost-state {
  background-color: red;
}

.row {
  display: flex;
}

.cell {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.additional-options-container {
  min-width: 200px;
}

.option {
  padding: 5px;
}

.additional-options-input {
  max-width: 100px;
}
